.detail{
  width: 1000px;
  height: auto;
  margin: auto;
  padding-top: 16px;
}
.detailContent{
  width:1000px;
  height: 514px;
  margin:auto;
  background-color: white;
  padding-top: 20px;
}
.detailContent .btn{
  float: left;
  margin-left: 24px;
  margin-top: 0;
  cursor: pointer;
}
.detailContent .textContent{
  width: 580px;
  height: 514px;
  position: absolute;
}
.detailContent .imgContent{
  width: 348px;
  height: 470px;
  position: absolute;
  right: 10px;
  background-color:transparent;
}
.imgContent img{
  width: 100%;
  height: auto;
}
.textContent>div{
  width: 428px;
  height: 46px;
  margin-left: 132px;
  border:solid 1px #fafafa;
  border-radius: 0;
  border-top: transparent;
  line-height: 46px;
  font-size: 12px;
  padding-left: 12px;
}
.textContent>span{
  position: absolute;
  width: 132px;
  height: 28px;
  border-radius: 14px 0 0 14px;
  background-color: #cccccc;
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
  line-height: 28px;
  color: white;
}
.detail .btn{
  width: 120px;
  height: 40px;
  line-height: 40px;
  margin-bottom: 20px;
  font-size: 16px;
}
