.login{
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-image: url("../../images/登录bg.png");
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
}
.loginBox{
  width: 384px;
  height: 345px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -156px;
  margin-left: -172px;
  background-image: url("../../images/扫码.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 32px;
}
.btn:hover{
  background-color: #ffe065;
}
.login-form-button:hover{
  background-color: #ffe065!important;
  border-color:  #ffe065!important;
}
.btn{
  cursor: pointer;
}